# Xcode
build/
DerivedData/
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/

# Carthage
Carthage/Checkouts
Carthage/Build

# macOS
.DS_Store
